<template name="Networks">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<div id="networks_intro" class="">
		</div>
		{{> NetworksView}}
	</div>
</template>

<template name="NetworksView">
	<div id="networks-view" class="">
		<h2 id="component-title">
			Networks
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> NetworksViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
	</div>
</template>

<template name="NetworksViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="network_id">
					Network ID
				</th>
				<th class="th-sortable" data-sort="network_name">
					Name
				</th>
				<th class="th-sortable" data-sort="etherscan_url">
					Etherscan URL
				</th>
				<th class="th-sortable" data-sort="addressresolver">
					Addressresolver
				</th>
				<th class="th-sortable" data-sort="contract">
					Contract Address
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> NetworksViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="NetworksViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{network_id}}
		</td>
		<td>
			{{network_name}}
		</td>
		<td>
			{{etherscan_url}}
		</td>
		<td>
			{{addressresolver}}
		</td>
		<td>
			{{contract}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

