<template name="Risks">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Risks
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<div id="risks_intro" class="">
			List of all risks:
		</div>
		{{> RisksRisksList}}
	</div>
</template>

<template name="RisksRisksList">
	<div id="risks-risks-list" class="">
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> RisksRisksListTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
	</div>
</template>

<template name="RisksRisksListTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="carrierFlightNumber">
					CarrierFlightNumber
				</th>
				<th class="th-sortable" data-sort="departureYearMonthDay">
					DepartureYMD
				</th>
				<th class="th-sortable" data-sort="arrivalTime">
					ArrivalTime
				</th>
				<th class="th-sortable" data-sort="delayInMinutes">
					DelayInMinutes
				</th>
				<th class="th-sortable" data-sort="delay">
					Delay
				</th>
				<th class="th-sortable" data-sort="cumulatedWeightedPremium">
					CumWeightPremium
				</th>
				<th class="th-sortable" data-sort="premiumMultiplier">
					PremiumMultiplier
				</th>
				<th class="th-sortable" data-sort="riskId">
					RiskId
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> RisksRisksListTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="RisksRisksListTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{carrierFlightNumber}}
		</td>
		<td>
			{{departureYearMonthDay}}
		</td>
		<td>
			{{formatDate arrivalTime 'DD.MM.YYYY hh:mm:ss'}}
		</td>
		<td>
			{{delayInMinutes}}
		</td>
		<td>
			{{delay}}
		</td>
		<td>
			{{cumulatedWeightedPremium}}
		</td>
		<td>
			{{premiumMultiplier}}
		</td>
		<td>
			{{addressShort riskId}}
		</td>
	</tr>
</template>

